*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 124rem;
    margin: 0 auto;
    padding: 0 109px;
}

.navbarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 59px;
}
.growList{
    flex-grow: 1;
    padding-left: 60px;
}
.list{
    display: flex;
    list-style: none;
    gap: 34px;
    color: black;
    align-items: center;
    line-height: 24px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    font-style: none;
}
.list li{
    cursor: pointer;
}
.list li:hover{
    color: rgb(11, 84, 200);
    font-size: 18px;
}
.navbarButton{
    padding: 14px 26px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 13px;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    font-style: none;
    line-height: 26px;
    background-color:   #7326f8;
    color: whitesmoke;
    cursor: pointer;
}

.navbarButton:hover{
    color: #23095e;
}

.mainContainer{
    display: flex;
    margin-top: 54px;
    align-items: center;
    justify-content: space-between;
}

.headingText{
    font-size: 65px;
    font-family: "Poppins";
    font-weight: 600;
    font-style: none;
    line-height: 75px;
    color: #23095e;
}
.headingText span{
    color: #7326f8;
}

.description{
    font-family: "Poppins";
    font-weight: 400;
    font-style: none;
    font-size: 16px;
    margin-top: 25px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #828282;
}

.main{
    margin-top: 69px;
}