* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 92px;
    padding: 32px 78px;
}

.growList {
    flex-grow: 1;
}

.logo {
    width: 95px;
    height: 35px;
}

.line {
    width: 1px;
    background-color: #fff;
    height: 50px;
    margin-left: 67px;
}

.list {
    display: flex;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: antiquewhite;
    list-style: none;
    gap: 60px;
    align-items: center;
    margin-left: 60px;
    line-height: 24px;
}

.logo,
.listItems {
    cursor: pointer;
}

.smallButton{
    padding: 8px 26px;
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    font-style: none;
    line-height: 24px;
    cursor: pointer;
    background-color: #ba0cc5;
}

.mainSection{
    background-image: url(/Assets/bg.png);
    background-size: cover;
    background-attachment: fixed;
    height: 92vh;
    text-align: center;
}

.mainHeading{
    color: antiquewhite;
    font-family: "Poppins";
    font-size:78px;
    font-style: normal;
    font-weight: 700;
    line-height: 98px;
    text-align: center;
    max-width: 845px;
    margin: 0 auto;
    padding-top: 178px ;
}
.heroDescription{
    color: antiquewhite;
    font-family: "Poppins";
    font-size:28px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}

.largeButton{
    background-color: #ba0cc5;
    color: whitesmoke;   
    cursor: pointer;
    border-radius: 12px;
    border: none;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    padding: 14px 22px;
    line-height: 45px;
    margin-top: 66px;
}